<VirtualHost {{ item.hostname }}:80>
    DocumentRoot "/www/{{ item.hostname }}"
    ServerName "{{ item.hostname }}"
    
    ServerAdmin "{{ item.serveradmin }}"
    
    Include "/etc/apache2/usgo_extra_conf/{{ item.hostname }}.extras.conf"

    {% if item.extra_params is defined %}
      {{ item.extra_params }}
    {% endif %}
</VirtualHost>
