version: '3.5'
services:
  nginx-proxy:
    image: jwilder/nginx-proxy
    ports:
      - '80:80'
      - '443:443'
    volumes:
      - certs:/etc/nginx/certs
      - vhosts:/etc/nginx/vhost.d
      - html:/etc/share/nginx/html
      - /var/run/docker.sock:/tmp/docker.sock:ro
  nginx-proxy-letsencrypt:
    images: jrcs/letsencrypt-nginx-proxy-companion
    volumes:
      - certs
      - vhosts
      - html
      - /etc/acme.sh
      - /var/run/docker.sock:/var/run/docker.sock:ro
    environment:
      DEFAULT_EMAIL: "{{ usgo_nginx_certbot_email }}"
volumes:
  certs:
  vhosts:
  html:
