Define aghs_document_root {{ item.documentroot }}

DocumentRoot ${aghs_document_root}

LogLevel info ssl:warn

ErrorLog ${APACHE_LOG_DIR}/{{ item.servername }}-error.log
CustomLog ${APACHE_LOG_DIR}/{{ item.servername }}-access.log combined

<Directory ${aghs_document_root}>
		Options +FollowSymLinks
		Require all granted
		AllowOverride all
</Directory>
